*{
    font-family: 'Inter', sans-serif;
    color: #0A3871;
    font-size: 32px;
}
body {
    background-color: #b2d8d0;
    width: 1080 px;
    height: 720px;
}

header {
    padding: 10px;
    display: flex;
}

.logo {
    position: absolute;
    width: 2%;
    top: 50px;
    left: 50px;
    
}

main {
    display: flex;
    margin-bottom: 50px;
    margin-left: 80px;
}

.text-area {
    text-transform: lowercase;
    background: none;
    border: none;
    padding: 20px;
    margin: 88px 0px 0px 75px ;
    width: 500px;
    height: 300px;
}

::placeholder {
    font-size: 32px;
    font-family: 'Inter', sans-serif;
    color: #0A3871;
}

#mensagem {
    padding: 20px;
    position: absolute;
    border-radius: 24px;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border: none;
    width: 350px;
    height: 562px;
    left: 850px;
    top: 25px; 
}

#mensagem {
    outline: none;
}

#boneco {
    position: absolute;
    width: 20%;
    left: 935px;
    top: 50px;
}

h4 {
    position: absolute;
    color: #0A3871;
    font-size: 24px;
    line-height: 120%;
    top: 300px;
    left: 923px;
    text-align: center;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

h5 {
    position: absolute;
    color: #0A3871;
    font-size: 15px;
    line-height: 150%;
    top: 390px;
    left: 928px;
    text-align: center;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

h6 {
    display: flex;
    font-size: 12px;
    align-content: center;
    color: #495057;
    opacity: 0.8;
    order: 1;
    flex-grow: 0;
}

h6 img {
    display: flex;
    align-content: center;
    width: 14px;
    height: 14px;
    margin-right: 5px;
    color: #495057;
    opacity: 0.8;
}

.botoes {
    display: flex;
    margin-top: 18px;
}

.btn-encriptar {
    border: none;
    border-radius: 24px;
    color:#fff;
    background-color: #0A3871;
    padding: 25px;
    margin: 10px;
    width: 300px;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    cursor: pointer;
}

.btn-encriptar:hover {
    color: #0A3871;
    background-color: #fff;
    border: none;
}

.btn-desencriptar {
    border: none;
    border-radius: 24px;
    color: #fff;
    background-color: #0A3871;
    padding: 25px;  
    margin: 10px;
    width: 300px;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
}

.btn-desencriptar:hover {
    color: #0A3871;
    background-color: #fff;
}

#btn-copiar {
    position: absolute;
    border: 1px solid #0A3871;
    border-radius: 24px;
    background-color: #fff;
    color: #0A3871;
    padding: 25px;
    margin: 10px;
    width: 300px;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    top: 500px;
    left: 886px;
}

#btn-copiar:hover {
    color: #fff;
    background-color: #0A3871;
}


footer{
    background-color: #0A3871;
    position: absolute;
    width: 1350px;
    height: 90px;
    left: 0px;
    top: 650px;
    
    
}

footer p {
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: center;
    color: #fff;
    
}